<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Điều khiển thông minh</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>

	<div class="page-title">Nhà Thông Minh</div>
	<div class="demo-container">
		<h3>Chức năng chính</h3>
		<ul>
			<li>Điều khiển thông minh</li>
			<li>Cảm biến chống trộm</li>
			<li>Thông tin môi trường</li>
		</ul>
	</div>

	<th:block th:include="/_footer"></th:block>

</body>
</html>