<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Danh sách Relay</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
</head>
<body>
	<table id="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Tên relay (Thứ tự)</th>
				<th>Sửa</th>
				<th>Xóa</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="relayInfo : ${paginationRelay.list}">
				<td th:text="${relayInfo.Id_relay}"></td>
				<td><a class="label-for-sumit"
					th:href="@{|/admin/relay?id_Arduino=${id_Arduino}&code=${relayInfo.Id_relay}|}"
					th:text="${relayInfo.Tenrelay}"> </a></td>
				<!-- For Manager show thiết bị-->
				<th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
					<td><input type="submit" class="label-for-sumit"
						th:href="@{|/admin/relay?id_Arduino=${id_Arduino}&code=${relayInfo.Id_relay}|}"
						value="Sửa" /></td>
					<td><input type="submit" class="label-for-sumit"
						th:href="@{|/admin/xoarelay?id_Arduino=${id_Arduino}&code=${relayInfo.Id_relay}|}"
						value="Xóa" /></td>
				</th:block>
			</tr>
			<tr>
				<td colspan="6"><input type="submit" class="label-for-sumit"
					th:href="@{|/admin/relay/?id_Arduino=${id_Arduino}|}" value="Thêm" />
				</td>
			</tr>
		</tbody>
	</table>
	<br />
	<div class="page-navigator" th:if="${paginationRelay.totalPages > 1}">
		<th:block th:each="page : ${paginationRelay.navigationPages}">

			<a
				th:href="@{|/admin/relayList?page=${page}&id_Arduino=${id_Arduino}|}"
				th:if="${page != -1}" class="nav-item" th:utext="${page}"></a>
			<span class="nav-item" th:if="${page == -1}"> ... </span>

		</th:block>
	</div>
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<div id="for_load_content"></div>
		</div>
	</div>
<script>
	var ItemSelected = [[${id_Arduino}]];
	
	// Get the modal
	var modal = document.getElementById('myModal');

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks the button, open the modal 
	$('.label-for-sumit').click(function(event) {
		modal.style.display = "block";
		$('#for_load_content').load($(this).attr('href'));
		return false;
	});
	$('.gotolink').click(function(event) {
		window.location.href = $(this).attr('href');
		return false;
	});
	span.onclick = function() {
		modal.style.display = "none";
		window.location.href = "/admin/cauhinh?subpagemode=1&ItemSelected=" + ItemSelected;
	}
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
			window.location.href = "/admin/cauhinh?subpagemode=1&ItemSelected=" + ItemSelected;
		}
	}
</script>
</body>
</html>